# List required packages in this file, one per line.
dash
jupyter-dash
numpy
nptyping
sklearn
dash_bootstrap_components
dash_bootstrap_templates
dash_daq
h5py
dask
pillow
phonetic_alphabet
ipywidgets
methodtools
ryujin
