/*
.cQJXpB > div {
    background-color: inherit;
    border: 0px;
}
*/

/*
.daq-colorpicker--light {
    background-color: inherit;
    border: 0px;
}
*/

div .cQJXpB {
    background-color: transparent;
    /*border: 0px;*/
}

.chrome-picker[style] {
    background-color: transparent !important;
    border: 0px !important;
}